#offers {
    padding-top: 120px;
    padding-bottom: 50px;

    .container {
        .offersCaption {
            font-weight: 700;
            font-size: 40px;
            color: #3D3D3F;
            text-align: center;
        }

        .offerCards {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-top: 40px;

            .offerCard {
                width: 300px;
                height: 250px;
                box-shadow: 2px 2px 40px rgb(238, 238, 238);
                border-radius: 20px;

                h5 {
                    font-weight: 700;
                    font-size: 24px;
                    color: #3D3D3F;
                    text-align: center;
                }

                p {
                    color: #595959;
                    // width: 80%;
                    line-height: 150%;
                    text-align: center;
                    text-wrap: wrap;

                }

                position: relative;
                padding: 20px 40px;
                display: flex;
                justify-content: center;
                align-items: center;

                * {
                    text-align: center;
                }

                .offerImg {
                    z-index: 100;
                    background-color: #fff;
                    position: absolute;
                    top: -43px;
                    border: 1px solid transparent;
                    padding: 12px 14px;
                    border-radius: 1000px;
                    box-shadow: 1px 1px 20px rgb(232, 232, 232);
                    transition: 0.4s ease-in;

                    &:hover {
                        background-color: #FF7A50;

                        .ikki {
                            fill: #ffffff;
                        }
                    }
                }

            }
        }

    }
}